/* In this file you can overwrite/extend the given babe-styles or declare your own ones */

/* Example of extending a given babe-style */

/*.babe-view-stimulus-container {
    height: auto;
    max-height: 350px;
} */

/* Display all titles in red */
/*.babe-view-title {
    color: red;
}*/

/* Example of declaring your own style */
.custom-border {
   border: 1px solid powderblue;
}

.column {
      float: left;
      width: 15%;           /* change this to denote how many are in a row*/
      padding: 5px;
    }

/* Clear floats after image containers */
  .row::after {
      content: "";
      clear: both;
      display: table;
    }

  .column2 {
      float: left;
      margin-top: 0px;
      width: 48%;           /* change this to denote how many are in a row*/
      padding: 5px;
    }

  .image {
    width: 300px;
    height: 300px;
    float: left;
  }

  .target {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: medium;
    border-color: blue;
  }
